body {
    margin: 0;
}

.slides{
    width: 55% !important;
    height: 55% !important;
    transform: translate(-50%, -50%) scale(1.5) !important; 
}

section {
    position: absolute !important;
    top:0  !important;
    left:0  !important;
    height: 100%  !important;
    width: 100%  !important;
    /* background: blue !important; */
}

canvas {
    display: block;
}

.presentation_title {
    position: absolute !important;
    top: 5% !important; 
    width: 100% !important;
    font-size: 45px !important;
    font-weight: bold !important;
    line-height: 1.25 !important;
    padding-bottom: 0 !important;
}
.presentation_info {
    padding-right: 50px !important;
    line-height: 1.25 !important;
    padding-bottom: 15px !important;
    text-align: right !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.page-number {
    position: absolute;
    bottom: 35px;
    right: 8%;
    color: black;
    font-size: 36px;
    z-index: -1;
}

.univ_logo{
    position: absolute !important;
    top: 2.5vh !important;
    left: 2.5vw !important;
    height: 10vh;
    width: auto;
}

.symbol_fig{
    position: absolute;
    top: 2.5vh;
    right: 2.5vw;
    height: 10vh;
    /*filter: blur(2px); */
}

.reveal .progress{
    height: 8px !important;
    background-color: #F3E99F !important;
}

.reveal .progress span {
    background-color: #FF6D60 !important;
    transition: width 0.5s ease-out !important;
    opacity: 1 !important;
    z-index: 0 !important;
}

.laser-pointer {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
    transition: opacity 0.3s;
}

/* Title for each slides */
.slide-title {
    position: absolute !important;
    top: 10% !important;
    left: 0 !important;
    padding: 10px !important;
    font-size: 25px !important;
    font-weight: bold !important;
    z-index:auto !important;
}

/* Left align box in left half */
.box_style_t20l0h100w100{
    position: absolute !important;
    top: 20% !important;
    left: 0 !important;
    height: 90% !important;
    width: 100% !important;
    padding: 10px !important;
    font-size: 20px !important;
    text-align: left !important;
}
.box_style_t20l0h100w50{
    position: absolute !important;
    top: 20% !important;
    left: 0 !important;
    height: 80% !important;
    width: 50% !important;
    padding: 10px !important;
    font-size: 20px !important;
    text-align: left !important;
}

/* Center aligned box in left half */
.box_style_t50l25h100c{
    position: absolute !important;
    top: 50% !important;
    left: 25% !important;
    height: 90% !important;
    padding: 10px !important;
    font-size: 20px !important;
    text-align: left !important;
    transform: translate(-50%, -50%) !important;
}

.box_style_t75l25h100c{
    position: absolute !important;
    top: 75% !important;
    left: 25% !important;
    height: 90% !important;
    padding: 10px !important;
    font-size: 20px !important;
    text-align: left !important;
    transform: translate(-50%, -50%) !important;
}

.box_style_t75l25w50c{
    position: absolute !important;
    top: 75% !important;
    left: 25% !important;
    width: 50% !important;
    padding: 10px !important;
    font-size: 20px !important;
    text-align: left !important;
    transform: translate(-50%, -50%) !important;
}


/* Center aligned box in center */
.box_style_t50l50h100c{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    height: 90% !important;
    padding: 10px !important;
    font-size: 20px !important;
    text-align: left !important;
    transform: translate(-50%, -50%) !important;
}

.box_style_t75l50w100c{
    position: absolute !important;
    top: 75% !important;
    left: 50% !important;
    width: 100% !important;
    padding: 10px !important;
    font-size: 20px !important;
    text-align: left !important;
    transform: translate(-50%, -50%) !important;
}

.bgimg_style_welcome{
    position: absolute !important;
    top: 10px !important;
    right: -300px !important;
    height: 700px !important;
    width: auto !important;
    rotate: -30deg !important;
    opacity: 0.25 !important;
    filter: blur(5px) !important;
    z-index: -99 !important;
    /* position: absolute; top:10px; right:-300px; opacity:0.25; transform: rotate(-30deg); filter: blur(2px); height: 700px; width: auto; z-index: -1; */
}

.bgimg_style_rbig{
    position: absolute !important;
    top: 10px !important;
    right: -300px !important;
    height: 700px !important;
    width: auto !important;
    rotate: -30deg !important;
    opacity: 0.25 !important;
    filter: blur(5px) !important;
    z-index: -99 !important;
}

.bgimg_style_rsmall{
    position: absolute !important;
    top: 40% !important;
    right: -200px !important;
    height: 400px !important;
    width: auto !important;
    rotate: -30deg !important;
    opacity: 0.65 !important;
    filter: blur(2px) !important;
    z-index: -99 !important;
}

/* Figure: top 5%, left 50%, height 50% ????? */
/* .box_style_t5l50h50{
    position: absolute !important;
    top: 5% !important;
    left: 50% !important;
    height: 45% !important;
    padding: 10px !important;
    font-size: 20px !important;
} */

/* Figure: top 5%; left 50%; height 100% */
.box_style_t5l50h100{
    position: absolute !important;
    top: 5% !important;
    left: 50% !important;
    height: 90% !important;
    padding: 10px !important;
    font-size: 20px !important;
}

.box_style_t5l50w50{
    position: absolute !important;
    top: 5% !important;
    left: 50% !important;
    width: 50% !important;
    padding: 10px !important;
    font-size: 20px !important;
}

/* make the box in the middle of the right half of the slide */
.box_style_t50l50w50{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    width: 50% !important;
    padding: 10px !important;
    font-size: 20px !important;
    transform: translateY(-50%);
}

.box_style_t50l50h100{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    height: 90% !important;
    padding: 10px !important;
    font-size: 20px !important;
    transform: translateY(-50%);
}

/* Right 3/4 part; Full height boxes; Center align */
.box_style_t50r75h100c{
    position: absolute !important;
    top: 50% !important;
    left: 75% !important;
    height: 90% !important;
    width: 50% !important;
    padding: 10px !important;
    font-size: 20px !important;
    transform: translate(-50%, -50%);
}
.box_style_t50r75w50c{
    position: absolute !important;
    top: 50% !important;
    left: 75% !important;
    width: 50% !important;
    padding: 10px !important;
    font-size: 20px !important;
    transform: translate(-50%, -50%);
}
.box_style_t20r75w50{
    position: absolute !important;
    top: 20% !important;
    left: 75% !important;
    width: 50% !important;
    /* height: auto !important; */
    padding: 10px !important;
    font-size: 20px !important;
    transform: translateX(-50%);
}
.box_style_t20r75h75w50{
    position: absolute !important;
    top: 20% !important;
    left: 75% !important;
    height: 80% !important;
    width: 50% !important;
    padding: 10px !important;
    font-size: 20px !important;
    transform: translateX(-50%);
}

/* Right 3/4 part; Half height boxes; Center align */
.box_style_t25r75h50c{
    position: absolute !important;
    top: 20% !important;
    left: 75% !important;
    height: 50% !important;
    width: 50% !important;
    /* padding: 10px !important; */
    font-size: 20px !important;
    transform: translate(-50%, -50%);
}
.box_style_t25r75w50c{
    position: absolute !important;
    top: 20% !important;
    left: 75% !important;
    width: 50% !important;
    /* padding: 10px !important; */
    font-size: 20px !important;
    transform: translate(-50%, -50%);
}

.box_style_t75r75h50c{
    position: absolute !important;
    top: 70% !important;
    left: 75% !important;
    height: 50% !important;
    width: 50% !important;
    /* padding: 10px !important; */
    font-size: 20px !important;
    transform: translate(-50%, -50%);
}


.caption_container{
    display: flex !important;
    margin-bottom: 10px !important;
}

.slide_item_style1{
    font-size: 25px  !important;
    line-height: 1.25  !important;
    padding-top: 4px  !important;
    padding-bottom: 8px  !important;
    padding-left: 5%  !important;
}

.image-style1{
    position: absolute !important;
    top: 20% !important;
    left: 50% !important;
    width: 50% !important;
    height: 65% !important;
}

.tablecell_style1{
    font-size: 15px !important;
}

.highlight_style1{
    color: darkred !important;
    /* font-size: 25px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important; */
    font-weight: bold !important;
}

.image-style2{
    position: absolute !important;
    top: 20% !important;
    left: 50% !important;
}

.caption_style{
    font-size: 15px !important;
    position: relative;
    /*display: block;*/
    width:50% !important;
}

.reference_style{
    position: absolute !important;
    bottom: 0% !important;
    left: 0 !important;
    color: rgb(108, 108, 108) !important;
    font-size: 8px !important;
    width:80%;
    text-align: left;
}

.mol-container{
    position: relative !important;
    padding-top: 100%;
}

.content_subtitle{
    padding: 5px !important;
    font-size: 15px !important;
    margin-bottom: 10px !important;
    margin: 0 auto !important;
    background: radial-gradient(circle at center, #FFE6E6, #e6f0b630) !important;
    border-radius: 10px !important;
    background-color: #FFE6E6 !important;
}

.mol-container canvas {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    padding: 0 !important;
}

ul li{
    padding-bottom:10px !important;
    font-size: 25px !important;
}

.chapter_break{
    position: absolute !important;
    top : 40% !important;
    left: 50% !important;
    width:100% !important;
    font-size: 45px !important;
    font-weight: bold !important;
    line-height: 1.25 !important;
    transform: translate(-50%, -50%) !important
}

.image-gray {
    filter: grayscale(100%);
}


.gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-item {
    /* position: relative !important;
    margin-right: 40px !important;
    margin-left: 40px !important;
    margin-top: 20px !important;
    margin-bottom:50px !important; */
}

.gallery-item img {
    width: auto;
    height: 150px;
    transition: all 0.3s ease-out;
}

.gallery-item:hover img {
    transform: scale(2);
}

.gallery-item_style2:hover img {
    transform: scale(1.5) !important;
}

.gallery-item_style3:hover img {
    transform: scale(2) translateY(20%) translateX(20%) !important;
}

.gallery-item_style4:hover img {
    transform: scale(2) translateX(-10%) !important;
}

.gallery-item figcaption {
    /* position: absolute; */
    /* bottom: -20px; */
    /* left: 0; */
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: #fff0dbd0;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
}

.gallery-item:hover figcaption {
    /* The caption translate 200% down by its size */
    transform: translateY(200px);
}

.onhover_show{
    color: white !important;
}
.onhover_show:hover{
    color: black !important;
    
}

